<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/easyui/easyui.css">
  <link rel="stylesheet" type="text/css" href="/static/css/easyui/icon.css">
  <link rel="stylesheet" type="text/css" href="/static/css/easyui/color.css">
  <link rel="stylesheet" type="text/css" href="/static/css/easyui/main.css">
  <link href="/static/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="/static/js/easyui/jquery-1.6.min.js"></script>
  <script type="text/javascript" src="/static/js/easyui/easyui.min.js"></script>
  <script type="text/javascript" src="/static/js/easyui/datagrid-filter.js"></script>
  <style>
      .icon-filter{
          background: url("../static/img/filter.png") no-repeat center;
      }
  </style>
  {% block table_js_init %}
  {% endblock %}
</head>
<body>
  <div class="header clearfix">
      <nav>
          <ul class="nav nav-pills pull-right">
              <li role="presentation"><a href="/">返回主页</a></li>
              <li role="presentation"><a href="/input_info?action=update&project_number={{project_number}}">返回建库测序信息单</a></li>
          </ul>
      </nav>
      <h3 class="text-muted">{% block tablename %}{% endblock %}</h3>
  </div>
    <div id="win" class="easyui-window" title="筛选重复项" closed="true" style="width:300px;height:100px;padding:5px;">
      {% for result in distinct_results %}
          {{ result }}
          <br>
          <br>
          <br>
      {% endfor %}
    </div>
  {% block table_html_init %}
  {% endblock %}
  <div id="toolbar">
      <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newSample()">新增样品</a>
      <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editSample()">编辑样品</a>
      <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroySample()">删除样品</a>
      <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyAllSample()">删除整个表格</a>
      <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroySelectSample()">删除已选择表格</a>
      <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="showSummary()">显示数据统计</a>
  </div>
  <div id="dlg" class="easyui-dialog" style="width:400px" closed="true" buttons="#dlg-buttons">
    {% block table_form %}
    {% endblock %}
  </div>

  <div id="dlg-buttons">
      <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveSample()" style="width:90px">保存</a>
      <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
  </div>
{% block form %}
{% endblock %}
  <div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning" style="color:red"><span>{{ message }}</span></div>
    {% endfor %}
  </div>
</body>
<script type="text/javascript">
    {% block table_name %}{% endblock %}
    function export_table_info() {
        $.get('/down_table_file', {table_name:table_name,project_id:$('#project_id').val()}, function (filename) {
            window.location.href = '/static/export/' + filename
        });
    }
    function newSample(){
        $('#dlg').dialog('open').dialog('center').dialog('setTitle','新样品');
        $('#fm').form('clear');
        //url = '/save_sample';
    }
    function editSample(){
        var row = $('#dg').datagrid('getSelected');
        if (row){
            $('#dlg').dialog('open').dialog('center').dialog('setTitle','编辑样品');
            $('#fm').form('load',row);
            //url = 'update_sample.php?id='+row.id;
        }
    }
    function saveSample(){
        var row = $('#dg').datagrid('getSelected');
        if(row){
            action = 'update';
        }else{
            action = 'insert';
        }
        $('#fm').form('submit',{
            url: '{{url_for("save_input_data")}}',
            onSubmit: function(param){
                param.table_name = table_name;
                param.action = action;
                return $(this).form('disableValidation');
            },
            success: function(result){
                var result = eval('('+result+')');
                if (result.errorMsg){
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    $('#dlg').dialog('close');        // close the dialog
                    $('#dg').datagrid('reload');    // reload the user data
                }
            }
        });
    }
    function destroySample(){
        var row = $('#dg').datagrid('getSelected');
        if (row){
            $.messager.confirm('Confirm','您确定要删除这个样品吗?',function(r){
                if (r){
                    $.get('/destroy_sample',{id:row.sample_name,table:table_name,sample_time:row.time},function(result){
                        if (result.success){
                            $('#dg').datagrid('reload');    // reload the user data
                        } else {
                            $.messager.show({    // show error message
                                title: 'Error',
                                msg: result.errorMsg
                            });
                        }
                    });
                }
            });
        }
    }
    function destroyAllSample(){
      $.get('/destroy_all_sample',{table:table_name},function(result){
        if(result.success){
          $('#dg').datagrid('reload');
        }else{
          $.message.show({
            title:'Error',
            msg:result.errorMsg
          });
        }
      });
    }

    function destroySelectSample(){
      var selected = $('#dg').datagrid('getSelections');
      if(selected.length == 0){
        alert('请选择要删除的样品!');
        return;
      }
      var idString = "";
      $.each(selected,function(index,item){
        if(table_name == 'send_sample_table'){
          idString += item.id + ',';
        }else{
          idString += item.sample_id + ',';
        }
      })
      $.get('/destroy_select_sample',{table:table_name,id:idString},function(result){
        if(result.success){
          $("#tbList").datagrid("clearSelections");
          $('#dg').datagrid('reload');
        }else{
          $.message.show({
            title:'Error',
            msg:result.errorMsg
          });
        }
      });
    }
    function showSummary(){
      $('#win').window('open');
    }
</script>
</html>
