<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>建库信息系统</title>
</head>
<link href="/static/css/jquery-ui.css" rel="stylesheet">
<link href="/static/css/ui.jqgrid.css" rel="stylesheet">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/bootstrap-theme.css" rel="stylesheet">
<script src="/static/js/jquery-2.0.0.min.js"></script>
<script src="/static/js/bootstrap.js/"></script>
<script src="/static/js/jquery.jqGrid.src.js/"></script>
<script src="/static/js/grid.locale-en.js/"></script>
<script src="/static/js/main.js"></script>
<body>
<style>
    li>div>span {
        color: red;
    }
</style>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
                    <a class="navbar-brand" href="/">
                     {% if role=='manager' %}
                        管理员: {{ username }}
                    {% else %}
                        用户名: {{ username }}
                    {% endif %}
                    </a>
                    <a class="navbar-brand active" href="#"  onclick="show_my_project()">
                        {% if role=='user' %}
                            我的项目
                        {% elif role=='manager' %}
                            我负责的项目
                        {% endif %}
                    </a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
                        {% if role=='user' %}
                            <li><a href="/input_info">新建项目</a></li>
                            <li><a href="/select_project">数据分析</a></li>
                        {% elif role=='manager' %}
                            <li><a href="/input_info">新建项目</a></li>
                            <li>
                                <a href="#" onclick="show_all_user_info()" >审核用户信息</a>
                            </li>
                        {% endif %}
						<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">个人信息修改<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
                                    <a id="modal-modify-base-info" href="#modal-container-modify-base-info" role="button" class="btn" data-toggle="modal">修改基本信息</a>
								</li>
								<li>
                                    <a id="modal-modify-passwd" href="#modal-container-modify-passwd" role="button" class="btn" data-toggle="modal">修改登录密码</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							 <a href="http://www.onmath.cn/lxwm">联系我们</a>
						</li>
                        <li>
							 <a href="/quit_login">退出登录</a>
						</li>
					</ul>
				</div>
			</nav>
            <div class="modal fade" id="modal-container-modify-base-info" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								修改个人信息
							</h4>
						</div>
						<div class="modal-body">
                            <ul>
                                <li>
                                    <a>用户名&nbsp;&nbsp;&nbsp;</a>
							        <input type="text" id="username" placeholder="用户名" style="width: 200px" disabled value="{{ username }}">
                                </li>
                                <li>
                                    <a>用户姓名</a>
							        <input type="text" id="customer_name" placeholder="用户姓名" style="width: 200px" value="{{ customer_name }}">
                                </li>
                                <li>
                                    <a>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </a>
							        <input type="text" id="email" placeholder="Email" style="width: 200px"  value="{{ e_mail }}">
                                    <div id="email-mess"></div>
                                </li>
                                <li>
                                    <a>手机号码</a>
							        <input type="text" id="tel" placeholder="手机" style="width: 200px"  value="{{ tel }}">
                                    <div id="tel-mess"></div>
                                </li>
                                <li>
                                    <a>工作单位</a>
							        <input type="text" id="company" placeholder="用户所在单位" style="width: 200px"  value="{{ company }}">
                                </li>
                                <li>
                                    <a>工作领域</a>
							        <input type="text" id="field" placeholder="研究领域" style="width: 200px"  value="{{ field }}">
                                </li>
                            </ul>
						</div>
						<div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="modify_base_info()">保存</button>
						</div>
					</div>
				</div>
			</div>
            <div class="modal fade" id="modal-container-modify-passwd" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								修改密码
							</h4>
						</div>
						<div class="modal-body">
							<ul>
                                <li>
                                    <a>用户名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
							        <input type="text" placeholder="用户名" style="width: 200px" disabled value="{{ username }}">
                                </li>
                                <li>
                                    <a>请输入旧密码</a>
							        <input type="password" id="old-password" placeholder="旧密码" style="width: 200px">
                                    <div id="old-password-mess"></div>
                                </li>
                                <li>
                                    <a>请输入新密码</a>
							        <input type="password" id="new-password" placeholder="新密码" style="width: 200px">
                                    <div id="new-password-mess"></div>
                                </li>
                            </ul>
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                             <button type="button" class="btn btn-primary" onclick="change_password()">保存</button>
						</div>
					</div>
				</div>
			</div>
            <div id="self_info" class="jumbotron" style="padding-bottom: 150px">
                <h2>个人信息</h2>
                <p>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                            <label class="col-sm-2 control-label">{{ username }}</label>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <label class="col-sm-2 control-label">{{ customer_name or '未填写'}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                        <label class="col-sm-2 control-label">{{ e_mail }}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">电话号码</label>
                        <div class="col-sm-10">
                        <label class="col-sm-2 control-label">{{ tel }}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">工作单位</label>
                        <div class="col-sm-10">
                        <label class="col-sm-2 control-label">{{ company or '未填写' }}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">工作领域</label>
                        <div class="col-sm-10">
                        <label class="col-sm-2 control-label">{{ field or '未填写'}}</label>
                        </div>
                    </div>
                </p>
            </div>
			<div class="jumbotron" id="detail">
				<h1>欢迎登录建库信息系统</h1>
				<p>
					在系统中，您可以点击上面的“新建项目”，跳转到新页面，然后提供给我们您的基本信息，您也可以通过点击“数据分析” 提供给我们您的样品分组信息和差异比较方案，我们将最近根据您提供的信息尽快分析得出结果。
                    您通过下面的“了解更多”了解我公司的详细信息。
				</p>
				<p>
					 <a class="btn btn-primary btn-large" href="http://www.onmath.cn/">了解更多</a>
				</p>
			</div>
		</div>
	</div>
</div>
</body>
<script>
    $("#old-password").blur(function(){
        var obj = $("#old-password-mess");
        var old_password = $("#old-password").val();
        obj.children().remove();
        if (!old_password) {
            obj.append("<span class='mess'>请输入旧密码!</span>");
        }
    });

    $("#new-password").blur(function(){
        var obj = $("#new-password-mess");
        var new_password = $("#new-password").val();
        obj.children().remove();
        if (!new_password) {
            obj.append("<span class='mess'>请输入新密码!</span>");
        }
        else if (new_password.length < 11) {
            obj.append("<span class='mess'>密码长度不能小于11位！</span>");
        }
    });

    $("#email").blur(function(){
        var obj = $("#email-mess");
        var email = $("#email").val();
        var reg = /\w+[@]{1}\w+[.]\w+/;
        obj.children().remove();
        if (!email) {
            obj.append("<span class='mess'>Email不能为空!</span>");
        }
        else if (!reg.test(email)) {
            obj.append("<span class='mess'>您输入的Email格式错误，请重新输入！</span>");
        }
    });

    $("#tel").blur(function(){
        var obj = $("#tel-mess");
        var tel = $("#tel").val();
        var reg = /(1[3-9]\d{9}$)/;
        obj.children().remove();
        if (!tel) {
            obj.append("<span class='mess'>手机号不能为空!</span>");
        }
        else if (!reg.test(tel)) {
            obj.append("<span class='mess'>您输入的手机号格式错误，请重新输入！</span>");
        }
    });

    function show_all_user_info() {
        $('#selected_project_div').hide();
        $("#self_info").hide();
        $("#detail").children().remove();
        $("#detail").append("<table id='show_all'></table>");
        var table_title = "所有的用户:（双击行可修改信息）<button onclick='export_user_info()'>导出用户数据</button>";
        var status_list = {'Y': 'Y', 'R': 'R', 'N': 'N'};
        $("#show_all").jqGrid({
            datatype: 'local',
            height: 250,
            colNames: ['用户名', '电子邮件', '手机号码', '客户单位', '年龄', '角色',
                '研究领域', '状态', ''],
            colModel: [
                {name: 'username', index: 'username', width: 65, editable: false},
                {name: 'email', index: 'email', width: 65, editable: false},
                {name: 'tel', index: 'tel', width: 65, editable: false},
                {name: 'company', index: 'company', width: 65, editable: false},
                {name: 'age', index: 'age', width: 65, editable: false},
                {name: 'role', index: 'role', width: 65, editable: false},
                {name: 'field', index: 'field', width: 65, editable: false},
                {
                    name: 'status',
                    index: 'status',
                    width: 80,
                    editable: true,
                    edittype: 'select',
                    editoptions: {value: status_list, maxLength: 20}
                },
            /**                { name: 'notes', index: 'notes', width: 65, editable:true}, **/
                {name: 'save', index: 'save', width: 120, hidden: false}
            ],
            ondblClickRow: function (rowid) {
                var table_obj = $("#show_all");
                table_obj.editRow(rowid);
                $("#show_all").setCell(rowid, 'save', "<input type='button' onclick='save_userinfo_row(" + rowid + ")' value='保存信息'></input>");

            },
            caption: table_title
        });

        ajaxSend('get_all_user_data', {}, function (data) {
            var all_data = data['data'];
            for (var i = 0; i <= all_data.length; i++) {
                $("#show_all").jqGrid('addRowData', i + 1, all_data[i])
            }
        });
    }
    function show_upload_page(project_number,project_name){
        window.location.href='/get_upload_page?project_number='+project_number+'\&project_name='+project_name;
    }

    function format_upload_button(cellvalue, options, rowObject) {
        var project_number = rowObject['project_number'];
        var project_name = rowObject['project_name'];
        //alert(project_name)
        //alert(project_number);
        button_s = '<button onclick=\'show_upload_page('+'"'+project_number+'"'+','+'"'+project_name+'"'+')\'>项目文件</button>';
        //alert(button_s);
        return button_s;
    }

    function show_my_project() {
        $('#selected_project_div').hide();
        $("#detail").children().remove();
        $("#detail").append("<table id='show_all'></table>");
        var role = "{{ role }}";
        var table_title =  "我申请的项目:（双击行可修改项目）";
        var status_list = {'送样': '送样', '样品质检': '样品质检',
            '上机': '上机', '下机': '下机', '项目分析': '项目分析', '项目完成': '项目完成'};
        if (role == 'manager') {
            table_title = "我负责的项目:（双击行可修改项目）<input type='button' onclick='change_status()' value='修改项目状态'></input>";
        }
        $("#show_all").jqGrid({
            datatype: 'local',
            height: 250,
            colNames: ['项目编号', '项目名称', '客户单位', '客户名称', '项目状态' ,'创建时间','最近修改','',''],
            colModel: [
                { name: 'project_number', index: 'project_number', width: 65, editable:false},
                { name: 'project_name', index: 'project_name', width: 65, editable:false},
                { name: 'cust_organization', index: 'cust_organization', width: 65, editable:false},
                { name: 'cust_user', index: 'cust_user', width: 65, editable:false},
                { name: 'status', index: 'status', width: 80, editable:true, edittype:'select',editoptions:{value:status_list,maxLength:20}},
                { name: 'create_time', index: 'create_time', width: 65, editable:false},
                { name: 'change_time', index: 'change_time', width: 65, editable:false},
                { name: 'save', index: 'save', width: 120, editable:false},
                { name: 'action', index: 'action', width: 120, hidden: false, formatter:format_upload_button}
            ],
            ondblClickRow: function(rowid) {
                var project_number = $("#show_all").getRowData(rowid)['project_number'];
                window.location.href='/input_info?action=update&project_number=' + project_number;
            },
        {# multiselect: true,#}
            caption: table_title
        });

        ajaxSend('get_all_data', {'role': role}, function(data) {
            var all_data = data['data'];
            for (var i=0; i<=all_data.length;i++) {
                $("#show_all").jqGrid('addRowData', i+1, all_data[i])
            }
        });
    }

    function change_password() {
        $("#new-password").blur();
        $("#old-password").blur();
        var username = '{{ username }}';
        var old_passwd = $("#old-password").val();
        var new_passwd = $("#new-password").val();
        var validate = $('.mess');

        var info = {
            'username': username,
            'old_passwd': old_passwd,
            'new_passwd': new_passwd

        };
        if (validate.length>0) {
            alert(validate[0].innerHTML);
            return;
        }
        ajaxSend('/change_password', {"info": JSON.stringify(info)}, function(data){
            var msg = data.msg;
            alert(msg);
            if (msg.indexOf('成功') != -1) {
                window.location.href='/login';
            }
        });

    }

    function modify_base_info() {
        $("#email").blur();
        $("#tel").blur();
        var username = $("#username").val();
        var e_mail = $("#email").val();
        var tel = $("#tel").val();
        var company = $("#company").val();
        var field = $("#field").val();
        var customer_name = $("#customer_name").val();
        var validate = $('.mess');

        if (validate.length>0) {
            alert(validate[0].innerHTML);
            return;
        }
        var info = {
            'username': username,
            'e_mail': e_mail,
            'tel': tel,
            'field': field,
            'company': company,
            'customer_name': customer_name
        }
        ajaxSend('/modify_base_info', {"info": JSON.stringify(info)}, function(data){
            var msg = data.msg;
            alert(msg);
            if (msg.indexOf('成功') != -1) {
                window.location.href='/';
            }
        });

    }

    function change_status() {
        var table_obj = $("#show_all");
        var ids = table_obj.getDataIDs();
        for (var i in ids) {
            table_obj.editRow(ids[i]);
            $("#show_all").setCell(ids[i], 'save', "<input type='button' onclick='save_project_row("+ ids[i] +")' value='保存状态'></input>");
        }
    }

    function save_project_row(row_id) {
        $("#show_all").setCell(row_id, 'save', '');
        var project_number = $("#show_all").getCell(row_id, 'project_number');
        $("#show_all").saveRow(row_id, 'status', '/save_status', {'project_number': project_number});
    }

    function save_userinfo_row(row_id) {
        var table_obj = $("#show_all");
        table_obj.setCell(row_id, 'save', '');
        var username = table_obj.getCell(row_id, 'username');
        $("#show_all").saveRow(row_id, 'status', '/admin_save_user_info', {'username': username});
    }

    function export_user_info() {
        ajaxSend('/export_user_info', {}, function (filename) {
            window.location.href = '/static/export/' + filename;
        }, 'POST');
    }

</script>
</html>
