<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="/static/js/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui"></script>
    <link href="/static/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<style>
li {float: left; list-style: none}
</style>
<body>
<div class="container">
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/send_sample_table">送样信息表</a></li>
                    <li role="presentation"><a href="/quality_inspection_table">质检信息表</a></li>
                    <li role="presentation"><a href="/up_machine_table">上机信息表</a></li>
                    <li role="presentation"><a href="/down_machine_table">下机信息表</a></li>
                    <li role="presentation"><a href="/return_table">返样信息表</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">建库测序信息单</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form>
				<fieldset>
					<p class="MsoNormal">
						<strong><span>建</span></strong>  <strong><span>库</span></strong>  <strong><span>测</span></strong>  <strong><span>序</span></strong>  <strong><span>样</span></strong>  <strong><span>品</span></strong>  <strong><span>信</span></strong>  <strong><span>息</span></strong>  <strong><span>单</span></strong>
					</p>
                    <table>
                        <tr>
                            <td><label>项目编号：</label>
                                <input type="text" {% if action=='update' %} disabled {% endif %} id="project_number" value="{{ data.project_number }}" class="sample_project_master"/> <!---->
                            </td>
                            <td><label>项目名称：</label>
                                <input type="text" {% if action=='update' %} disabled {% endif %} id="project_name" value="{{ data.project_name }}" class="sample_project_master"/>
                            </td>
                            <td><label>客户单位：</label>
                                <input type="text" {% if action=='update' %} disabled {% endif %} id="cust_organization" value="{{ data.cust_organization }}" class="sample_project_master"/>
                            </td>
                        </tr>
                        <tr>
                            <td><label>客户姓名：</label><input type="text" {% if action=='update' %} disabled {% endif %} id="cust_user" value="{{ data.cust_user }}" class="sample_project_master"/></td>
                            <td><label>E-mail：</label><input type="text" {% if action=='update' %} disabled {% endif %} id="email" value="{{ data.email }}" class="sample_project_master"/></td>
                            <td><label>联系电话：</label><input type="text" {% if action=='update' %} disabled {% endif %} id="cust_tel" value="{{ data.cust_tel }}" class="sample_project_master"/></td>
                        </tr>
                        <tr>
                            <td><label>销售姓名：</label><input type="text" {% if action=='update' %} disabled {% endif %} id="sale_name" value="{{ data.sale_name }}" class="sample_project_master"/></td>
                            <td><label>送样日期：</label><input type="text" {% if action=='update' %} disabled {% endif %} id="sp_delive_date" value="{{ data.sp_delive_date }}" class="sample_project_master"/></td>
                            <td><label>样本数量：</label><input type="text" {% if action=='update' %} disabled {% endif %} id="sp_sum" value="{{ data.sp_sum }}" class="sample_project_master"/></td>
                        </tr>
                        <tr>
                            <td><label>选择项目负责人：</label>
                                <select id="project_leader" class="sample_project_master">
                                    {% for option in manager_list %}
                                    <option value ="{{ option }}" {% if data.project_leader==option %} selected {% endif %}>{{ option }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </table>
                    <hr />
                    <hr />
                    <ol class="inline">
                        <li>
                            <span class="help-block"><b>样品状态:</b></span>
                            <label class="checkbox">
                                <input type="checkbox" id="lyophillization" class="sample_species" {% if data.lyophillization=='Y' %} checked {% endif %} />冻干粉
                            </label>
                            <br>
                            <span class="help-block">溶于:</span>
                             <label class="checkbox"><input type="checkbox" id="te_buffer" class="sample_species" {% if data.te_buffer=='Y' %} checked {% endif %}/>TE buffer </label>
                             <label class="checkbox"><input type="checkbox" id="ddh2o" class="sample_species" {% if data.ddh2o=='Y' %} checked {% endif %}/>ddH2O </label>
                             <label class="checkbox"><input type="checkbox" id="depc" class="sample_species" {% if data.depc=='Y' %} checked {% endif %}/>DEPC水 </label>
                             <label class="checkbox">其他: <input type="text" id="sample_species_other" class="sample_species" value="{{ data.sample_species_other }}"/></label>
                            <hr />
                        </li>
                        <li>
                            <span class="help-block"><b>样品类型:</b></span>
                            <span class="help-block">DNA样品:</span>
                            <label class="checkbox"><input type="checkbox" id="genomic_dna" class="sample_type" {% if data.genomic_dna=='Y' %} checked {% endif %}/>基因组DNA </label>
                            <label class="checkbox"><input type="checkbox" id="chip_dna" class="sample_type" {% if data.chip_dna=='Y' %} checked {% endif %}/>ChIP-DNA  </label>
                            <label class="checkbox"><input type="checkbox" id="pcr_fragment" class="sample_type" {% if data.pcr_fragment=='Y' %} checked {% endif %}/>PCR片段 </label>
                            <label class="checkbox"><input type="checkbox" id="free_dna" class="sample_type" {% if data.free_dna=='Y' %} checked {% endif %}/>游离DNA </label>
                            <label class="checkbox"><input type="checkbox" id="mitochondrial_dna" class="sample_type" {% if data.mitochondrial_dna=='Y' %} checked {% endif %}/>线粒体DNA </label>
                            <label class="checkbox">其他: <input type="text" id="others_dna" class="sample_type" value="{{ data.others_dna }}"/> </label>
                            <span class="help-block">RNA样品:</span>
                            <label class="checkbox"><input type="checkbox" id="total_rna" class="sample_type" {% if data.total_rna=='Y' %} checked {% endif %}/>Total RNA </label>
                            <label class="checkbox"><input type="checkbox" id="to_ribosomal_rna" class="sample_type" {% if data.to_ribosomal_rna=='Y' %} checked {% endif %}/>去核糖体RNA  </label>
                            <label class="checkbox"><input type="checkbox" id="small_rna" class="sample_type" {% if data.small_rna=='Y' %} checked {% endif %}/>小RNA  </label>
                            <label class="checkbox"><input type="checkbox" id="c_dna" class="sample_type" {% if data.c_dna=='Y' %} checked {% endif %}/>cDNA </label>
                            <label class="checkbox"><input type="checkbox" id="plasma_rna" class="sample_type" {% if data.plasma_rna=='Y' %} checked {% endif %}/>血浆RNA </label>
                            <label class="checkbox">其他: <input type="text" id="other_rna" class="sample_type" value="{{ data.other_rna }}"/> </label>
                            <hr />
                        </li>
                        <li>
                            <span class="help-block"><b>DNA样品测序类型</b></span>
                                <label class="checkbox"><input type="checkbox" id="resequencing" class="dna_sample_sequencing_type" {% if data.resequencing=='Y' %} checked {% endif %}/>重测序 </label>
                                <label class="checkbox"><input type="checkbox" id="de_novo_sequencing" class="dna_sample_sequencing_type" {% if data.de_novo_sequencing=='Y' %} checked {% endif %}/>De novo测序 </label>
                                <label class="checkbox"><input type="checkbox" id="mate_pair" class="dna_sample_sequencing_type" {% if data.mate_pair=='Y' %} checked {% endif %}/>Mate pair-2K/5K/8K/10K </label>
                                <label class="checkbox"><input type="checkbox" id="low_initial_weight_sequencing" class="dna_sample_sequencing_type" {% if data.low_initial_weight_sequencing=='Y' %} checked {% endif %}/>低起始量重测序 </label>
                                <label class="checkbox"><input type="checkbox" id="exome" class="dna_sample_sequencing_type" {% if data.exome=='Y' %} checked {% endif %}/>外显子组 </label>
                                <label class="checkbox"><input type="checkbox" id="target_area_capture" class="dna_sample_sequencing_type" {% if data.target_area_capture=='Y' %} checked {% endif %}/>目标区域捕获 </label>
                                <label class="checkbox">PCR产物测序(
                                <label class="checkbox"><input type="checkbox" id="purified" class="dna_sample_sequencing_type" {% if data.purified=='Y' %} checked {% endif %}/>已纯化 </label>
                                <label class="checkbox"><input type="checkbox" id="unpurified" class="dna_sample_sequencing_type" {% if data.unpurified=='Y' %} checked {% endif %}/>未纯化 </label>)
                                </label>
                                <label class="checkbox"><input type="checkbox" id="d16s_rdna" class="dna_sample_sequencing_type" {% if data.d16s_rdna=='Y' %} checked {% endif %}/>16S rDNA </label>
                                <label class="checkbox"><input type="checkbox" id="rad" class="dna_sample_sequencing_type" {% if data.rad=='Y' %} checked {% endif %}/>RAD </label>
                                <label class="checkbox"><input type="checkbox" id="metagenome" class="dna_sample_sequencing_type" {% if data.metagenome=='Y' %} checked {% endif %}/>宏基因组 </label>
                                <label class="checkbox"><input type="checkbox" id="chip_seq" class="dna_sample_sequencing_type" {% if data.chip_seq=='Y' %} checked {% endif %}/>ChIP-seq </label>
                                <label class="checkbox"><input type="checkbox" id="dna_methylation_sequencing" class="dna_sample_sequencing_type" {% if data.dna_methylation_sequencing=='Y' %} checked {% endif %}/>全基因组甲基化测序 </label>
                                <label class="checkbox"><input type="checkbox" id="rrbs" class="dna_sample_sequencing_type" {% if data.rrbs=='Y' %} checked {% endif %}/>RRBS </label>
                                <label class="checkbox"><input type="checkbox" id="medip_seq" class="dna_sample_sequencing_type" {% if data.medip_seq=='Y' %} checked {% endif %}/>MeDIP-seq </label>
                                <label class="checkbox"><input type="checkbox" id="mitochondrial_dna_sequencing" class="dna_sample_sequencing_type" {% if data.mitochondrial_dna_sequencing=='Y' %} checked {% endif %}/>线粒体测序 </label>
                                <label class="checkbox">其他: <input type="text" id="dna_sample_sequencing_type_other" class="dna_sample_sequencing_type" value="{{ data.dna_sample_sequencing_type_other }}"/> </label>
                            <hr />
                        </li>
                        <li>
                            <span class="help-block"><b>RNA样品测序类型</b></span>
                            <label class="checkbox"><input type="checkbox" id="three_eukaryotic_mrna_seq" class="rna_sample_sequencing_type" {% if data.three_eukaryotic_mrna_seq=='Y' %} checked {% endif %}/>真核生物mRNA-seq </label>
                            <label class="checkbox"><input type="checkbox" id="mrna_seq_prokaryotae" class="rna_sample_sequencing_type" {% if data.mrna_seq_prokaryotae=='Y' %} checked {% endif %}/>原核生物mRNA-seq </label>
                            <label class="checkbox"><input type="checkbox" id="low_initial_amount_of_eukaryotic_mrna_seq" class="rna_sample_sequencing_type" {% if data.low_initial_amount_of_eukaryotic_mrna_seq=='Y' %} checked {% endif %}/>真核生物低起始量mRNA-seq </label>
                            <label class="checkbox"><input type="checkbox" id="strand_specific_transcriptome" class="rna_sample_sequencing_type" {% if data.strand_specific_transcriptome=='Y' %} checked {% endif %}/>链特异性转录组 </label>
                            <label class="checkbox"><input type="checkbox" id="incrna_seq" class="rna_sample_sequencing_type" {% if data.incrna_seq=='Y' %} checked {% endif %}/>lncRNA-seq </label>
                            <label class="checkbox"><input type="checkbox" id="c_dna_transcriptome" class="rna_sample_sequencing_type" {% if data.c_dna_transcriptome=='Y' %} checked {% endif %}/>cDNA转录组 </label>
                            <label class="checkbox"><input type="checkbox" id="cdna_single_cell_transcriptom" class="rna_sample_sequencing_type" {% if data.cdna_single_cell_transcriptom=='Y' %} checked {% endif %}/>单细胞cDNA转录组 </label>
                            <label class="checkbox"><input type="checkbox" id="small_rna_sequencing" class="rna_sample_sequencing_type" {% if data.small_rna_sequencing=='Y' %} checked {% endif %}/>小RNA测序 </label>
                            <label class="checkbox"><input type="checkbox" id="plasma_small_rna_equencing" class="rna_sample_sequencing_type" {% if data.plasma_small_rna_equencing=='Y' %} checked {% endif %}/>血浆小RNA测序 </label>
                            <label class="checkbox">其他: <input type="text" id="rna_sample_sequencing_type_other" class="rna_sample_sequencing_type" value="{{ data.rna_sample_sequencing_type_other }}"/>  </label>
                        </li>
                    </ol>
				</fieldset>
			</form>
            <span class="help-block"><b>样品详情:</b></span>
            <ul class="inline">
            <li>1) 核酸样品提取方法:
            <label class="checkbox"><input type="checkbox" id="reagent_kit_method" {% if data.reagent_kit_method=='Y' %} checked {% endif %} class="sample_other"/>试剂盒 </label>
            <label class="checkbox"><input type="checkbox" id="ctab_method" {% if data.ctab_method=='Y' %} checked {% endif %} class="sample_other"/>CTAB法 </label>
            <label class="checkbox"><input type="checkbox" id="trizol_method" {% if data.trizol_method=='Y' %} checked {% endif %} class="sample_other"/>Trizol法 </label>
            <label class="checkbox">其他: <input type="text" id="other_method"  class="sample_other" value="{{ data.other_method }}"/>  </label>
            </li>
            <li>2) 如样品质检不合格，做如下处理:
            <label class="checkbox"><input type="checkbox" id="berry_handel" {% if data.berry_handel=='Y' %} checked {% endif %} class="sample_other"/>由onmath处理 </label>
            <label class="checkbox"><input type="checkbox" id="ret_handel" {% if data.ret_handel=='Y' %} checked {% endif %} class="sample_other"/>返还 </label>
            <label class="checkbox">其他: <input type="text" id="other_handel" class="sample_other" value="{{ data.other_handel }}"/>  </label>
            </li>
            <li>3) 项目完成后的剩余样品做如下处理:
            <label class="checkbox"><input type="checkbox" id="accord_contract" {% if data.accord_contract=='Y' %} checked {% endif %} class="sample_other"/>依据合同规定 </label>
            <label class="checkbox"><input type="checkbox" id="special_needs" {% if data.special_needs=='Y' %} checked {% endif %} class="sample_other"/>特殊需求 </label>
            </li>
            </ul>
		</div>
        <!--
        <span class="help-block"><b>样品详细信息：（请填写下表，如果您的样品数量较多建议您填写电子版表格后直接上传）</b></span>
        <input type="button" class="add" value="增加行"/>
        <input type="button" class="del" value="删除行"/>
        <input type="button" class="confirm_tables" value="确认表格数据"/>
        <br>
        <div class="upload" id="upload-div" title="">
        <form name="fileForm" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            <input type="file" id="fileupload" name="fileupload"/>
            <input type="button" id="ExcelForm" class="block-inline" value="解析样品详细信息" style="display:none" class="fr" title="上传文件"/>
        </form>
        </div>
        <table id="input_detail_info"></table>
        -->
	</div>
    <br>
    <br>
    {% if action=='new' %}
    <input type="button" id="submit" value="提交信息单"/>
    {% elif action=='update' %}
    <input type="button" id="submit" value="更新信息单"/>
        <br><br><br><br><p>项目更新信息：</p>
        <textarea id="project_log" name="MSG" cols=100 rows=20 readonly class="sample_project_master">{{ data.project_log }}</textarea>
    {% endif %}
    <br>

</div>
</body>
<link href="/static/css/jquery-ui.css" rel="stylesheet">
<link href="/static/css/ui.jqgrid.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
<script src="/static/js/jquery-2.0.0.min.js"></script>
<script src="/static/js/jquery-ui.min.js/"></script>
<script src="/static/js/jquery.jqGrid.src.js/"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/jquery.form.js"></script>
<script>
    var action = "{{ action }}";
    var project_number = "{{ data.project_number }}";
    var role = "{{ role }}";
    var hide = role == 'manager'? false: true;
</script>
<script src="/static/js/input.js"></script>
</html>